.DS_Store
gitpush.sh
rsync.sh
tag.sh
curl_trace.txt
cookies.txt
*result.json
login_response_debug.html
manual_form_debug.html
results.txt
*.mers
*.loop
logs/
.DS_Store
*~
*.o
*.swp
/prmers
*.bufd
*.gli
*.isav
*.jsav
*.lbufd
*.proof
*/proof/*